.slideContainer {
    position: relative;
    overflow: hidden;
}

.slideContainer::before {
    content: '';
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.4); /* тёмный оверлей */
    z-index: 1;
}

.slideContainer::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 150px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #fff 100%);
    pointer-events: none;
    z-index: 2;
}

.container {
    display: flex;
    justify-content: space-between;
    width: 50%;
    position: absolute;
    top: 10rem;
    left: 6rem;
    z-index: 3; /* выше оверлея */
}

.logoBlock {
    display: flex;
    align-items: center;
}

.textBlock {
    position: relative;
    display: flex;
    flex-direction: column;
    z-index: 3;
    padding: 2rem;
    border-radius: 20px;
    background: var(--primary-white);
}

.title {
    margin: 0 0 40px 0;
    font-weight: 800;
    font-size: 2rem;
    color: var(--primary-black);
    text-align: left;
    max-width: 44rem;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.6);
}

.description {
    margin: 0 0 40px 0;
    font-weight: normal;
    font-size: 1.2rem;
    letter-spacing: 0.06em;
    color: var(--primary-black);
    line-height: 50px;
    max-width: 500px;
    /*text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.6);*/
}

.image {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: right center;
    z-index: 0;
}



.mobileContainer {
    position: absolute;
    bottom: 70px;
    width: 100%;
    padding: 6px 21px;
    background: var(--primary-blue);
    display: flex;
    align-items: center;
    flex-direction: column;
    z-index: 4;
}
/*.mobileContainer {*/
/*    bottom: 40px;*/
/*    left: 20px;*/
/*    right: 20px;*/
/*    padding: 16px;*/
/*    background: rgba(0, 0, 0, 0.6);*/
/*    color: #fff;*/
/*    border-radius: 12px;*/
/*    font-size: 1rem;*/
/*    line-height: 1.4;*/
/*    gap: 0.5rem;*/
/*}*/

/*.scrollHint {*/
/*    position: absolute;*/
/*    bottom: 2rem;*/
/*    left: 50%;*/
/*    transform: translateX(-50%);*/
/*    font-size: 2rem;*/
/*    color: #fff;*/
/*    opacity: 0.6;*/
/*    animation: bounce 2s infinite;*/
/*    z-index: 3;*/
/*}*/

@keyframes bounce {
    0%, 100% { transform: translate(-50%, 0); }
    50% { transform: translate(-50%, 8px); }
}

@media (max-width: 480px) {
    .image {
        object-position: right;
    }
}
