.wrapper {
    width: 86%;
    margin: 0 auto;
    color: #000; /* добавлено */
    max-width: 1200px;
}

.title {
    font-size: 4rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 2rem;
}

.highlight {
    color: var(--primary-blue);
}
/* Два ряда карточек */
.row {
    display: flex;
    gap: 2.5rem;
    margin-bottom: 1.5rem;
}

/* Базовая карточка */
.card {
    position: relative;
    flex: 1; /* по умолчанию все равны */
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 12px;
    overflow: hidden;
    min-height: 180px;
    padding: 1rem;
    transition: transform 0.5s;
}

/*.card:hover {*/
/*    transform: scale(1.1);*/
/*}*/

/* Увеличенная на 20% */
.large {
    flex: 1.2;
}

/* Диагональный фон */
.card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
            135deg,
            transparent 45%,
            #eef0ff 45% 100%
    );
    z-index: 0;
    transition: background 0.3s ease, transform 0.3s ease;
    transform-origin: center center;
}

.cardTitle {
    position: relative;
    z-index: 1;
    margin: 0.5rem 0 0 0;
    font-size: 1.75rem;
    font-weight: 700;
}

.label {
    position: absolute;
    top: 1rem;
    right: 1rem;
    padding: 0.25rem 0.75rem;
    font-size: 0.875rem;
    border: 1px solid #333;
    border-radius: 999px;
    background: #fff;
    z-index: 1;
}

.button {
    all: unset;
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    padding: 0.6rem 1.2rem;
    background: #4c1dff;
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
    text-decoration: none;
    border-radius: 6px;
    z-index: 1;
    text-align: center;
    cursor: pointer;
}

@media (max-width: 480px) {
    .row {
        gap: 1rem;
    }

    .cardTitle {
        font-size: 1rem;
    }

    .label {
        top: 1.2rem;
        right: 0.2rem;
    }

    .wrapper {
        width: 100%;
    }
}

.bg {
    position: absolute;
    inset: 0;
    background-size: cover;
    background-position: center;
    filter: blur(4px);
    opacity: 0.6;
    z-index: 0;
    transition: transform 0.5s ease;
    transform: scale(1); /* базовое */
    transform-origin: center;
}
.card:hover .bg {
    transform: scale(1.2); /* эффект приближения фона */
}
