:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-oswald: 'Oswald', sans-serif;
  --font-akrobat: 'Bebas', sans-serif;
  --primary-blue: #0000FB;
  --primary-black: #000;
  --primary-white: #ffffff;
  --section-padding-vertical: 3rem;
  --section-padding-horizontal: 3rem;
  --section-mobile-padding-vertical: 2rem;
  --section-mobile-padding-horizontal: 1rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --font-oswald: 'Oswald', sans-serif;
    --font-bebas: 'Bebas', sans-serif;
  }
}

html,
body {
  max-width: 100vw;
  /*overflow-x: hidden;*/
  scroll-behavior: smooth;      /* включаем плавный скролл */
  /* если шапка у вас фиксированная, например 80px высотой, добавляем: */
  scroll-padding-top: 60px;
}


body {
  color: var(--primary-white);
  background: var(--background);
  font-family: var(--font-oswald);
  background: var(--primary-white);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}


section {
  padding: var(--section-padding-vertical)
  var(--section-padding-horizontal);
}

.fullWidth {
  padding: 0 !important;
  width: 100vw;
  margin-left: calc(-50vw + 50%);
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

@media (max-width: 480px) {
  section {
    padding: var(--section-mobile-padding-vertical)
    var(--section-mobile-padding-horizontal);
  }
}
